<template>
  <main>
    <b-row
      align-v="center"
      class="m-0 intro"
    >
      <b-col lg="7">
        <div v-html="$t('intro')"></div>
      </b-col>
      <b-col lg="5">
        <img
          alt=""
          class="mb-5 w-100 p-1 border rounded"
          :src="`${$t('baseurl')}/img/opengraph/home.jpg`"
          title="Contribateliers - David Revoy - Creative Commons By"
        />
      </b-col>
    </b-row>
    <b-row>
      <ul class="tips">
        <li
          v-for="(tool, key) in tools"
          :key="key"
        >
          <div class="tip-content text-center">
            <div class="front">
              <h2 v-html="tool.title"></h2>
              <p>
                <img
                  alt=""
                  :src="`${$t('baseurl')}img/screens/${key}.png`"
                />
              </p>
            </div>

            <div class="back">
              <p
                class="desc"
                v-html="tool.desc"
              ></p>
              <p class="go">
                <a
                  class="btn btn-outline-soutenir"
                  :href="tool.url"
                >
                  <i class="fas fa-arrow-right"></i>
                  S’y rendre
                </a>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </b-row>
  </main>
</template>

<script>
export default {
  data() {
    return {
      tools: {
        liberaforms: {
          title: 'Liberaforms',
          desc: 'Des formulaires en ligne (pour remplacer notre Yakforms vieillissant)',
          url: 'https://beta.framaforms.org/',
        },
        ihatemoney: {
          title: 'I hate money',
          desc: 'Alternative à Tricount',
          url: 'https://ihm.framalab.org',
        },
        spliit: {
          title: 'Spliit',
          desc: 'Alternative à Tricount',
          url: 'https://split.framalab.org/',
        },
        drawio: {
          title: 'Draw.io',
          desc: 'Alternatives à Lucidchart',
          url: 'https://drawio.framalab.org/',
        },
        excalidraw: {
          title: 'Excalidraw',
          desc: 'Alternatives à Lucidchart',
          url: 'https://excalidraw.framalab.org/',
        },
      },
    };
  },
};
</script>

<style lang="scss">
/* Tips */
.tips {
  list-style: none;
  padding: 0px;
  margin:0 auto;

  @media (max-width: 740px) { width:340px; }
  @media (min-width: 992px) { width:680px; }
  @media (min-width: 1200px) { width:1020px; }

  > li {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 235px;
    float:left;
    background-color: white;
    border-top: 1px solid var(--f-g3);
    box-shadow: 0px 9px 15px -10px rgba(0, 0, 0, 0.7);
    margin: 12px 10px 25px 10px;

    .front,
    .back {
      border-bottom: 4px solid var(--f-g5);
      background:var(--f-g1);
    }

    &:hover .tip-content {
      top: -235px;
    }
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size:20px;
    font-weight: bold;
    text-align: center;

    &::after {
      content: none !important;
    }
  }

  .desc {
    font-size:16px;
    margin-top:20px;
  }
}

.tips
.go{
  position:absolute;
  width:300px;
}

.go {
  bottom: 90px;
}

.tip-content {
  position: absolute;
  width: 320px;
  height: 470px;
  top: 0px;
  transition: all 400ms ease 0s;
}

.front, .back {
  padding: 10px;
  height: 235px;
}

.show-back {
  top: -235px;
}

h1 a, h2 a,
h1 a:hover, h2 a:hover,
h1 a:focus, h2 a:focus {
  text-decoration:none;
}

.intro ul {
  list-style: none;
  li { text-indent: -1.5rem; }
}
</style>
